* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

:root {
    /* primary */
    --cyan: hsl(180, 66%, 49%);
    --dViolet: hsl(257, 27%, 26%);
    /* secondary */
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    /* neutral */
    --gViolet: hsl(257, 7%, 63%);
    --vDBlue: hsl(255, 11%, 22%);
    --vDviolet: hsl(260, 8%, 14%)
}



/* navbar */
nav {
    position: relative;
    border: 1px solid red;
}

.navbar-brand {
    padding-top: 2.5rem;
    padding-bottom: 1.4rem;
    padding-left: 1.5rem;
}

.hamburger {
    position: absolute;
    right: 1.6rem;
    width: 2rem;
    padding-top: 3rem;
}

.hamburger .bar {
    display: block;
    border: 1px solid var(--gray);
    margin-bottom: .5rem;
    width: 100%;
    cursor: pointer;
}

.nav-links {
    font-size: 1.7rem;
    display: none;
    justify-content: center;
}


/* toggle nav */
.nav-effect {
    display: flex;
}

.nav-links ul {
    padding-left: 0;
    list-style-type: none;
    /* affects the li */
    display: flex;
    flex-direction: column;
    align-items: center;
    /*  */
    background-color: var(--dViolet);
    width: 90%;
    border-radius: 1rem;

}


.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links .signUp {
    background-color: var(--cyan);
    padding: 0.6rem 9rem;
    border-radius: 3rem;
    font-weight: 700;
}

.nav-links li {
    padding-bottom: 3rem;
}

.nav-links ul li:nth-child(1) {
    /* features link */
    padding-top: 3rem;
}

.nav-links ul li:nth-child(4) {
    /* login */
    padding-top: 3rem;
}

/* header */
.header-img {
    overflow-x: hidden;
}

.header-img img {
    width: 145%;
    padding-left: 2rem;
}

.header-content h1 {
    text-align: center;
    font-size: 3.5rem;
}

.header-content p {
    font-size: 1.67rem;
    text-align: center;
    margin-bottom: 3rem;
}

.header-content div {
    text-align: center;
}

.header-content a {
    background-color: var(--cyan);
    text-decoration: none;
    padding: 1rem 4rem;
    border-radius: 4rem;
    font-size: 2rem;
}

header {
    margin-bottom: 6rem;
}

/* inputLink */
.inputLinkContainer {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    border: 1px solid red;
}

.inputLinkContainer-background {
    /* original background color */
    background: linear-gradient(white 50%, var(--gray) 50%);
}

.inputLinkContainer-noLink {
    /* added when there is no link */
    background: linear-gradient(white 25%, var(--gray) 10%);
}


.inputLink {
    border: 1px solid purple;
    width: 90%;
    background-color: var(--vDviolet);
    padding: 1.7rem;
    /* this causes the elements the input and button to center */
    border-radius: 0.5rem;

}

.inputLink input {
    font-size: 1.8rem;
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
}

.inputLink button {
    width: 100%;
    font-size: 1.8rem;
    font-family: 'Poppins';
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--cyan);
    color: white;
    border-radius: 0.5rem;
}

.inputLink button:hover {
    cursor: pointer;
}

.placeholder-color::placeholder {
    /* will change the placeholder text when no link is present */
    color: var(--red);

}

.no-link-text::before {
    /* will add the text when no link present */
    content: "Please add a link";
    color: var(--red);
    font-size: 1.2rem;
    font-style: italic;
}

/*link contaner activated by button*/

.loader {
    /* loader */
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.link-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    background-color: var(--gray);
}

.copyBtn-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.link-container button {
    width: 95%;
    font-size: 1.8rem;
    font-family: 'Poppins';
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--cyan);
    color: white;
    border-radius: 0.5rem;
}

.link-container button:hover {
    cursor: pointer;
}

.link {
    background-color: white;
    position: relative;
    font-size: 1.8rem;
    width: 90%;
    border-radius: .5rem;
}

.link p:nth-child(1) {
    border-bottom: 1px solid var(--gray);
    padding: .6rem;

}

.link p:nth-child(2) {
    padding: .6rem;
    padding-bottom: 0;

}


/*  */

.info-section {

    background-color: var(--gray);
    padding-top: 6rem;
}

.advanced h2 {
    text-align: center;
    font-size: 2.5rem;
}

.advanced p {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1rem;
    color: var(--vDviolet);
}

/* blocks */
.blocks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}


.blocks section{
    background-color: white;
    width:90%;
    border-radius: .5rem;
    margin-bottom: 10rem;
    padding:1.8rem;  /* this gets the centering I want */
    position: relative;
   

}

.blocks h2{
    text-align: center;
    font-size: 2rem;
    padding-top: 6rem;
    padding-bottom:1.8rem;
}

.blocks p{
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 3rem;
}

.blocks .logo-container{
    background-color: var(--dViolet);
    text-align: center;
    width: 9rem;
    border-radius: 50%;
    padding: 2rem;
    /* to position the logo */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:-4rem;
}

/* media queries */

@media screen and (min-width:768px) {

    /* navbar */
    .hamburger {
        display: none
    }

    .nav-links {
        display: flex;
    }

    .nav-links ul {
        background-color: white;
    }

    .nav-links ul a {
        color: var(--gray);
    }

    .nav-links .signUp {
        color: white;
    }

    .nav-links ul {
        flex-direction: row;
    }

    .nav-links li {
        padding-bottom: 0;
    }

    .nav-links ul li:nth-child(1) {
        /* features link */
        padding-top: 0rem;
    }

    .nav-links ul li:nth-child(4) {
        /* login */
        padding-top: 0rem;
    }

    /*  */

    nav {
        display: flex;
    }

    .nav-links ul {
        width: 100%;
    }

    .navbar-brand {
        padding-left: 6rem;
        padding-right: 3rem;
    }

    .nav-links li {
        padding-right: 2rem;
    }

    .nav-links ul li:nth-child(3) {
        /* resources */
        padding-right: 55rem;
    }

    .nav-links .signUp {

        padding: 0.6rem 3rem;
        border-radius: 3rem;

    }


}