* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

:root {
    /* primary */
    --cyan: hsl(180, 66%, 49%);
    --dViolet: hsl(257, 27%, 26%);
    /* secondary */
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    /* neutral */
    --gViolet: hsl(257, 7%, 63%);
    --vDBlue: hsl(255, 11%, 22%);
    --vDviolet: hsl(260, 8%, 14%)
}

/* navbar */
nav {
    position: relative;
    border: 1px solid red;
}

.navbar-brand {
    padding-top: 2.5rem;
    padding-bottom: 1.4rem;
    padding-left: 1.5rem;
}

.hamburger {
    position: absolute;
    right: 1.6rem;
    width: 2rem;
    padding-top: 3rem;
}

.hamburger .bar {
    display: block;
    border: 1px solid var(--gray);
    margin-bottom: .5rem;
    width: 100%;
    cursor: pointer;
}

.nav-links {
    font-size: 1.7rem;
    display: none;
    justify-content: center;
}


/* toggle nav */
.nav-effect {
    display: flex;
}

.nav-links ul {
    padding-left: 0;
    list-style-type: none;
    /* affects the li */
    display: flex;
    flex-direction: column;
    align-items: center;
    /*  */
    background-color: var(--dViolet);
    width: 90%;
    border-radius: 1rem;

}


.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links .signUp {
    background-color: var(--cyan);
    padding: 0.6rem 9rem;
    border-radius: 3rem;
    font-weight: 700;
}

.nav-links li {
    padding-bottom: 3rem;
}

.nav-links ul li:nth-child(1) {
    /* features link */
    padding-top: 3rem;
}

.nav-links ul li:nth-child(4) {
    /* login */
    padding-top: 3rem;
}
/* header */
.header-img {
    overflow-x: hidden;
}

.header-img img {
    width: 145%;
    padding-left: 2rem;
}

.header-content h1 {
    text-align: center;
    font-size: 3.5rem;
}

.header-content p {
    font-size: 1.67rem;
    text-align: center;
    margin-bottom: 3rem;
}

.header-content div {
    text-align: center;
}

.header-content a {
    background-color: var(--cyan);
    text-decoration: none;
    padding: 1rem 4rem;
    border-radius: 4rem;
    font-size: 2rem;
}

header {
    margin-bottom: 6rem;
}

/* inputLink */
.inputLinkContainer {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    background: linear-gradient(white 50%,var(--gray) 50%,var(--gray));

}

.inputLink {
    border: 1px solid purple;
    width: 90%;
    background-color: var(--vDviolet);
    padding: 1.7rem;
    border-radius: 0.5rem;

}

.inputLink div {
    text-align: center;
}

.inputLink input {

    font-size: 1.8rem;
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
}

.inputLink button{
    width: 100%;
    font-size: 1.8rem;
    font-family: 'Poppins';
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--cyan);
    color:white;
    border-radius: 0.5rem;
}
.inputLink button:hover{
    cursor: pointer;
}

/*link contaner activated by button*/
.link-container{
    display: flex;
    justify-content: center;
    padding-top:2rem;
    background-color: var(--gray);
}
.copyBtn-container{
    display: flex;
    justify-content: center;
    padding-bottom:1.5rem;
}
.link-container button{
    width: 95%;
    font-size: 1.8rem;
    font-family: 'Poppins';
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--cyan);
    color:white;
    border-radius: 0.5rem;
}
.link-container button:hover{
    cursor: pointer;
}

.link{
    background-color: white;
    position: relative;
    font-size:1.8rem;
    width:90%;
    border-radius: .5rem;
}
.link p:nth-child(1){
    border-bottom: 1px solid var(--gray);
   
}
.link p:nth-child(2){
padding:.6rem;
padding-bottom: 0;

}


/*  */

.info-section{
    
    background-color: var(--gray);
    padding-top:12rem;
}
.advanced h2{
    text-align: center;
}

.advanced p{
    text-align: center;
}

/* media queries */

@media screen and (min-width:768px) {

    /* navbar */
    .hamburger {
        display: none
    }

    .nav-links {
        display: flex;
    }

    .nav-links ul {
        background-color: white;
    }

    .nav-links ul a {
        color: var(--gray);
    }

    .nav-links .signUp {
        color: white;
    }

    .nav-links ul {
        flex-direction: row;
    }

    .nav-links li {
        padding-bottom: 0;
    }

    .nav-links ul li:nth-child(1) {
        /* features link */
        padding-top: 0rem;
    }

    .nav-links ul li:nth-child(4) {
        /* login */
        padding-top: 0rem;
    }

    /*  */

    nav {
        display: flex;
    }

    .nav-links ul {
        width: 100%;
    }

    .navbar-brand {
        padding-left: 6rem;
        padding-right: 3rem;
    }

    .nav-links li {
        padding-right: 2rem;
    }

    .nav-links ul li:nth-child(3) {
        /* resources */
        padding-right: 55rem;
    }

    .nav-links .signUp {

        padding: 0.6rem 3rem;
        border-radius: 3rem;

    }


}